body{
    text-align: center;
    padding-top: 5%;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to right,#360033,#0b8793);
    color: #fff;
}


#num1, #op, #num2{
    
    padding-left: 20px;
    /*width: 80px;*/
}

button{
    border-radius: 7px;
    text-align: center;
    font-size: 24px;
    background-color: dodgerblue;
    color: azure;
}


form.form1 input{
    margin:20px;;
}

#check{
    font-size: 24px;
}